@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

.App {
  font-family: "Roboto", Times, serif;
}
.ItemMenu {
  font-family: "Roboto", Times, serif;

  background-color: #4f6367;
}
.Staples {
  font-family: "Roboto", Times, serif;
  background-color: #eef5db;
}
.Login {
  font-family: "Roboto", Times, serif;
  background-color: #b8d8d8;
}
